<footer class="h-16 px-3 md:px-16 lg:px-32 py-2 text-center shadow-lg bg-orange-500 dark:bg-orange-600 text-white flex items-center justify-center">
    <span>Powered with ❤️ by Edgar B.</span>
</footer>