---
import ToggleThemeButton from "./ToggleThemeButton.astro";

---

<nav class="w-full fixed h-16 px-3 md:px-16 lg:px-32 py-2 shadow-lg bg-orange-500 dark:bg-orange-600 text-white">
  <div class="flex items-center justify-between h-full overflow-hidden">
    <a href="/" class="overflow-hidden flex items-center gap-2">
      <div class="w-10">
        <img src="/radioalegria.jpg" alt="Logo de Radio Alegria" class="object-"/>
      </div>
      <span class="hidden md:block text-2xl font-bold">Radio Alegría</span>
    </a>
    <ToggleThemeButton />
  </div>
</nav>